<% servlet_response.content_type = 'text/html' %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Drum Library</title>
  </head>
  <body>
    <h1>Drum Library</h1>
    <ul>
      <% DB[:playlists].select_map(:name).each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  </body>
</html>
